body{
  background-color:#f3f7f7;
}

/* */




/*mainbar*/
.bar{
  width:300px;height:100%;
  background-color:#222949;
  position:fixed;
  top:0px;
  right:1px;
  padding:0px;
  margin:0px;
  z-index:3;
}
.nav_area{
      position:fixed;
      top:150px;
      right:1px;
      width:280px;
      height:100%;
      box-sizing: border-box;
      padding:0px;
      margin:5px;
}
.buttom{
      display:block;
      padding:1px;
      /*padding-left:5px;
      padding-right:5px;
      padding-top:0.5px;*/
      /*background-color:#63639c;*/
      border-left: solid 3px #ffb336;
      color:#f3f7f7;
      font-family:微軟正黑體;
      letter-spacing:1px;
      font-weight:bold;
      margin:5px;
}
.panel-body{
  margin:0px;
  right:1px;
  width:200px;
  height:50px;
}

/*profilephoto*/
.circle{
  background-image: url(assets/images/pp-21.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px 100px;

  float:left;
  border-radius:100%;
  width:80px;
  height:80px;

  position:relative;
  /*margin:15px;*/
  border:2px solid #ffffff;
}

.line3{
  position:fixed;
  top:102px;
  width:100%;
  border-bottom: solid 0.5px #9292b9;

}


/*childbar*/
.nav_area2{
  position:fixed;
  width:100%;
  height:50px;
  background-color:#404E89;
  margin:0px;
  right: 1px;
  z-index: 2;
}

.brand{
  margin:10px;
  padding:10px;
  font-size:30px;
  color:#ffb336;
}

.nav_area2 h3{
  display:inline-block;
  padding-top:3px;
  margin-top:10px;
  color:#f3f7f7;
}

/*搜尋*/
.form{
  position: fixed;
  right:400px;

  display:inline-block;
}

/*小分頁*/
.list{
  position:fixed;
  left:40px;
  z-index: 1;
}
.buttom2 {
  display: inline-block;
  position: relative;
  top: 50px;
  padding-top:13px;
  padding-left:10px;
  padding-right:10px;
  padding-bottom:5px;
  border-bottom: solid 3px #ffb336;
  color:#222949;
  font-family:微軟正黑體;
  letter-spacing:1px;
  font-weight:bold;
}
a{
  color:#222949;
  font-family:微軟正黑體;
  letter-spacing:1px;
  font-weight:bold;

}

/*專案設定*/
.mainpart{
  background-color:transparent;
}

.mainpage{
  /*border:solid 3px black;*/
  width:700px;
  position: relative;
  margin-left:60px;

}


.jump{
  width:500px;
}
