{% extends 'templates/app.twig' %}

{% block content %}

<div class="buycoin">

      <img src="/assets/images/buycoin.png" alt="共築城市代幣" draggable="false" height="90%" width="90%">
      <a href="{{ path_for('order.index1') }}" class="buycoin1"><h2>我要購買</h2></a>
      <a href="{{ path_for('order.index2') }}" class="buycoin2"><h2>我要購買</h2></a>
      <a href="{{ path_for('order.index3') }}" class="buycoin3"><h2>我要購買</h2></a>


</div>
{% endblock %}
